hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  color: #FF0000;
}
.noPadding * {
  padding: 25px 50px 75px 100px;
}

.marginTop30 {
  margin-top: 30px;
}
section {
  padding-left: 50px;
  padding-right: 50px;
}
.biggerP {
  font-size: 1.5em;
  padding-left: .4em;
}
.grayBack {
  background-color: #eee;
}
.saadBanner {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
#plant {
  img {
    padding-left: .5em;
  }
}
p.large {
  font-size: 1.2em;
}
.row.padded {
  padding: 0em 2em 0em 2em;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
#top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}
#top img {
  width: auto;
  max-height: 80px;
  margin-left: 10px;
  margin-right: auto;
  padding: 10px;
}
#top .navbar {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  background-image: none !important;
  background-repeat: none !important;
  box-shadow: none !important;
}
#top .navbar-default {
    background-color: #f8f8f8;
    border-color: none !important;
}
.marginForNav {
  padding-top: 130px;
}
.group1 {
  background-color: rgba(104, 104, 140, 0.5);
}
.group2, .group3, .group4 {
  padding-bottom: 30px;
}
.group2, .group4, .group5 {
  padding-top: 50px;
}
